* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Arial", sans-serif;
}

.container {
  width: 80%;
  font-size: 6vw;
  margin: 10% auto 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  position: absolute; 
  bottom: 50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 30%;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  color: inherit;
  font-family: inherit;
}

label {
  opacity: 0.8;
}

input#the-topic {
  border: none;
  padding: 20px;
  font-size: inherit;
  text-align: center;
  text-overflow: ellipsis;
  background-color: inherit;
  border-radius: 10px;
}

#the-topic:focus {
  outline: 3px solid white;
}

#the-topic::placeholder {
  color: inherit;
  opacity: 0.8;
}

input#bg-color {
  cursor: pointer;
  background-color: none;
}